div{
    background-color: 	#DCDCDC;
    
}
.card{
    background-color: #ffd0fd;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
}
.cardImg{
    border-radius: 50%;
}
p{
    margin: 0;
    margin-bottom: 10px;
}
